body {
    background-color: #eeefea;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainAllUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.mainAllUsers ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    max-width: 900px;
}

.mainAllUsers li {
    font-size: 2rem;
    width: calc(100% / 3 - 1rem);
    text-align: center;
    margin-bottom: 1rem;
}

.mainAllUsers h1 {
    text-align: center;
    font-size: 3rem;
    color: #3b4b2f;
}

.mainAllUsers a {
    text-decoration: none;
    color: #3b4b2f;
    font-style: italic;
    font-weight: 600;
}

.pagination {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.arrowButton {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #3b4b2f;
    padding: 0.5rem;
    transition: color 0.3s ease;
    margin: 0 1rem;
}

.arrowButton:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.arrowButton:hover:not(:disabled) {
    color: #2a3b2e;
}

.pageSizeSelect {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #3b4b2f;
}
