.userProfile{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.userProfile h1{
    font-size: 3rem;
    color: #3b4b2f;
}
.userProfile h2{
    font-size: 2rem;
    color: #3b4b2f;
}
.userProfile h3{
    font-size: 1.5rem;
    color: #3b4b2f;
}
.userProfile .user img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px 0;
}
.userProfile .posts{
    display: flex;
    flex-wrap: wrap;
}
.userProfile .post{
    width: 70%;
    margin: 10px 0;
    padding: 10px;
}
.postImage{
    width: 30%;
}
.user {
    display: flex;
    flex-direction: column;
}
.textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.user img:hover .textOverlay {
    opacity: 1;
}
input, button{
    margin: 10px 0;
    padding: 10px;
    font-size: 1.1rem;
    border: 1px solid #537537;
    background-color: #537537;
    color: white;
}
input:hover, button:hover{
    cursor: pointer;
    background-color: #3b4b2f;
}